.profile-main{
    margin: 15px 5px;
    padding: 10px 10px;
    border-radius: 15px;
    background: #F3F4F5;
    color: #1A1A1A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 150% */
}