.modal-money-btn{
    width: 100%;
    border-radius: 10px;
    // padding: 10px;
    margin-top: 5px;
    color: #FFF;
    text-transform: none;
    text-align: center;
    font-size: 5px;
    font-size: normal;
    font-weight: 400;
    line-height: 5px;
    
}

.img-modal-money{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
 .custom-label {
    // margin: 0 auto;
    padding: 0 30px;
 }
 .div-modal-money{
    text-align: center;
 }
 .a{
    width: 100%;
    .modal-btn{
        width: 100%;
    }
 }