.list{
    height: 100%;
    padding-bottom: 100px;
    .row{
        padding-right: 0;
        padding-left: 0;
    }
    .list-transactions{
        display: flex;
        justify-content: space-between;
        margin: 7px 2px;
        padding-bottom: 5px;
        .avatar-transactions{
            img{
                padding-right: 0;
                padding-left: 0;
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                border-radius: 20px;
                // background: url("../../../../assets/dashbordImg/Profile\ Picture.jpg"), lightgray 50% / cover no-repeat;
            }
        }
        .bio-transactions{
            display: flex;
            flex-direction: column;
            .username{
                color: #1A1A1A;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px; /* 150% */
            }
            .date{
                color: #1A1A1A;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 150% */
                opacity: 0.4;
            }
    
        }
        .balans-transactions{
            padding-top: 3%;
            text-align: right;
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */
        }
    }
}